<div class="px-4 py-5 my-5 text-center">
  <%= image_tag("wrapped-gift-svgrepo-com.png", size: "72x72", alt: "Gift icon", class: "d-block mx-auto mb-4") %>
  <h1 class="display-5 fw-bold text-body-emphasis">Gift Wish-enator</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Your home for coordinated gift-giving and suprise presents!</p>
    <p class="lead mb-5">Sign up a new team or sign in to continue managing your gift list.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign up</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign in</button>
    </div>
  </div>
</div>